/* Global Styles */
.App {
  font-family: cursive, Lucida Handwriting;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1542856391-010fb87dcfed?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTl8fHxlbnwwfHx8fHw%3D&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
}

h1 {
  font-size: 2.5em; /* Responsive font size */
  font-style: italic;
  margin-bottom: 20px;
  color: black;
  padding: 10px;
  text-decoration: underline;
  text-shadow: 0 0 10px rgb(239, 7, 7);
}

h1:hover {
  text-shadow: 0 0 10px yellow;
}

.custom-toast-container {
  top: 0;
  right: 0;
  width: auto;
}

.Toastify__toast {
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 1.6em; /* Responsive font size */
  padding: 1.2em; /* Responsive padding */
}

.Toastify__close-button {
  color: #fff;
  font-size: 1.6em; /* Responsive font size */
}
